Package: slsc-eds-custom-device-{veristand_version}
Version: {nipkg_version}
Architecture: windows_x64
Maintainer: National Instruments <support@ni.com>
XB-Plugin: file
Description:  This package provides a plugin for the SLSC Electronic Data Sheet Custom Device for NI VeriStand.
XB-Eula:  
Priority: standard
Homepage: http://www.ni.com
XB-LanguageSupport: en
XB-UserVisible: yes
Section: Add-Ons
XB-DisplayVersion: {nipkg_version}
XB-DisplayName: SLSC Electronic Data Sheet Custom Device for VeriStand {veristand_version}
Depends: 
